<a href="https://colab.research.google.com/github/AyushKushwaha2510/Blog-App/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a progaram to swap numbers

In [ ]:
a, b = 5, 6
b, a = a, b
print(a, b)

6 5

In [ ]:
_hulk = 1000
_thor = 800
print("Hulk power = ", _hulk)
print("Thor power = ", _thor)
_hulk, _thor = _thor, _hulk
print("After Swap")
print("Hulk power = ", _hulk)
print("Thor power = ", _thor)

Hulk power =  1000
Thor power =  800
After Swap
Hulk power =  800
Thor power =  1000

TypeCasting :
hulk strenght level is recorded as a string input 1000, convert it into an inteeger and increase it by 200

Thor hammer weight is 5000 , but you need to calculate the gravitational force which requies it as a float

Locy gets input in seconds as strings = "3600". Convert it into an integer and then to hours. Show final result as a float

IronMan recorded seven hits outoff ten shots, both integers. Convert them into float and calculatet the accuracy percentage.

In [ ]:
hits, total_shots = 7, 10
acc = float(hits/total_shots) * 100
print("Acc % is :", acc)
print(f"Acc % is : {acc:.2f}")

Acc % is : 70.0
Acc % is : 70.00

# Object Referencing

```
# This is formatted as code
```
[link text](https://)

Python Variable hold references to objects, not the actual objects themselves

In [ ]:
a = [1, 2, 3]
b = a
print("a original : ", a)
b.append(4)
print("a new :", a)
print("b : ", b)

a original :  [1, 2, 3]
a new : [1, 2, 3, 4]
b :  [1, 2, 3, 4]

Re-assinging a variable does not affect other variables referencing the same object unless explicitly updated

In [ ]:
a = [1, 2, 3]
b = a
b = [4, 5, 6]
print("a :", a)
print("b :", b)

a : [1, 2, 3]
b : [4, 5, 6]

In [ ]:
shield = ['vibranium', 'round']
copy_shield = shield
print("Original Shield is", shield)
print("Wolverine changes the material of shield")
copy_shield = 'adamantium'
print("New_shield", shield)

Original Shield is ['vibranium', 'round']
Wolverine changes the material of shield
New_shield ['vibranium', 'round']

Removing a variable

In [ ]:
a = 10
del a
print("a :", a)

NameError: name 'a' is not defined

In [ ]:
x = ['apple', 'banana', 'orange', 'mango', 'pineapple']
del x[0]
print("updated list :",x)
del x[2:4]
print("updated list :",x)

updated list : ['banana', 'orange', 'mango', 'pineapple']
updated list : ['banana', 'orange']